.flex_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}